:root {
    font-family: "Montserrat", "Space Grotesk", 'Roboto', sans-serif;
    color: white;
    font-size: 2ch;
    background-color: #242633;
}

body {
    margin: 0em;
}

header {
    height: fit-content;
    width: 100%;
    background-color: #004e92;
}

main {
    display: grid;
    justify-content: center;
    padding-bottom: 2em;
    text-align: center;
}

nav {
    padding-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1em 1.25em;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.7ch;
    font-family: "Roboto Mono", Sans-serif;
}

li a:hover {
    transform: translateY(-0.5ch);
}

p {
    font-size: 1.7ch;
    color: white;
}

h4 {
    font-size: 22px !important;
    font-weight: 400;
}

h6 {
    font-size: 2ch;
    color: white;
    margin: 1.281em 0;
    font-weight: 450;
}

footer {
    font-size: 90%;
    margin-top: 7vw;
    background-color: #121319;
}

footer>p {
    margin: 0;
}
footer a{
    vertical-align: middle;
    padding-left: 0.25em;
}

footer img{
    vertical-align: top;
}

.nameWrapper {
    margin: 0 auto;
    width: 100%;
    padding-top: 13vw;
    padding-bottom: 13vw;
    background: #004E92;
    background: linear-gradient(180deg, rgba(0, 78, 146, 1) 0%, rgba(36, 38, 51, 1) 100%);
}

.heading {
    z-index: 1;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: white;
    font-size: 10vw;
    text-transform: uppercase;
    margin: 0;
    filter: drop-shadow(10px 12px 64px #000000);
}

.subHeading {
    line-height: 80px;
    font-size: 62px;
    color: white;
    text-transform: uppercase;
    margin: 1em;
}

.leftPart {
    position: absolute;
    padding-top: 0;
    font-weight: 600;
    font-size: 4ch;
    left: 2em;
}

.rightPart {
    padding-right: auto;
    justify-self: center;
}

.multiContent {
    position: relative;
    font-size: 2ch;
    color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    /* Automatisch anpassbare Spalten */
    grid-gap: 0;
    justify-content: center;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

.multiContent>div {
    flex: 1;
}

.miniContainer {
    max-width: 870px;
    width: 100%;
    word-wrap: normal;
    border: solid 0.125em white;
    width: fit-content;
    padding: 1em 1em 3em 1em;
    line-height: 1.4em;
    text-align: left;
}

.miniContainer2 {
    display: grid;
    margin: 5em auto 0;
    width: 100%;
}

.miniContainer2>h2 {
    margin-bottom: 0;
    margin-top: 0;
}

.iconPng {
    color: white;
    padding-top: 1.9em;
    padding-right: 0.9em;
    float: left;
    height: 2vw;
    width: 2vw;
}

.gitRepo img {
    float: right;
    margin-bottom: 0.25em;
}

.container {
    display: grid;
    width: 100%;
    height: fit-content;
    margin: 1em;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
}

.jobs {
    font-weight: 600;
    font-size: 1.05em;
    display: flex;
    justify-content: space-between;
    background-color: #004e92;
    padding: 0 1em;
    margin: 0 auto;
    width: 100%;
    border-radius: 0.5em;
    margin: 0.5em 0;
    margin-bottom: 0.25em;
}

.time {
    display: inline-flex;
    cursor: default;
}

.specificatpion {
    display: inline-flex;
}

.specificatpion a {
    text-decoration: none;
    color: #acacac;
    font-family: "Space Grotesk", 'Roboto', sans-serif;
    font-weight: 500;
    padding-top: 0.5em;
    padding-right: 1em;
}

.specificatpion img {
    margin-top: 0.5em;
    margin-right: 0.166em;
    height: 2ch;
}

.tags {
    display: inline-flex;
    padding-bottom: 0.5em;
    text-align: justify;
}

.tag {
    color: white;
    text-align: center;
    background-color: #0b7c4e;
    border-radius: 2em;
    padding: 0.25em 0.5em;
    margin: 0.166em;
    width: fit-content;
}

.skillText {
    padding-left: 1.15em;
}

.impressum {
    display: grid;
    width: 65%;
    font-family: "Roboto Mono", Sans-serif;
    position: relative;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    /* Automatisch anpassbare Spalten */
    grid-gap: 0;
    justify-content: center;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

.impressum a {
    color: white;
    text-decoration: none;
}

#experience {
    width: 100%;
    display: grid;
}

#experience-inner {
    max-width: 870px;
    width: 50vw;
    margin: auto;
    display: grid;
    text-align: center;
    justify-items: center;
}

#moreInfo {
    text-align: left;
    display: none;
    background-color: #003459;
    z-index: 1;
    width: 100%;
    padding: 0 1em;
    border-radius: 0.5em;
}

#openInfo {
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    border: none;
    padding-left: 1em;
    cursor: pointer;
}

#code {
    width: 20%;
    opacity: 0.2;
    bottom: 40vw;
    left: 50%;
}

#work {
    width: 100%;
    float: right;
}

#email{
    text-decoration: underline;
    text-decoration-thickness: 0.325em;
    text-underline-offset: -0.08em;
    text-decoration-skip-ink: none;
    text-decoration-color: #004E92;
}

#email span:hover {
    text-decoration: underline;
    text-decoration-thickness: 1.3em;
    text-underline-offset: -1em;
    text-decoration-skip-ink: none;
    text-decoration-color: #004E92;
    cursor: pointer;
}

#left{
    float: left;
    max-width: 870px;
    width: 100%;
    text-align: left;
}
#right{
    float: right;
    max-width: 870px;
    width: 100%;
    text-align: left;
}