<!-- Insp: https://tamalsen.dev/ -->
<!-- https://brittanychiang.com -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../style/style.css" type="text/css">
    <link rel="stylesheet" href="../style/codePenStyles.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <script src="../code/script.js"></script>
</head>
<header>
    <nav>
        <div class="leftPart" id="home">
            <a style="color: #02B2D7;">TimJachmann</a><a style="padding: 0; color: #0b7c4e;">.</a><a
                style="padding: 0;">_</a>
        </div>
        <div class="rightPart">
            <ul>
                <li><a href="#home">//HOME</a></li>
                <li><a href="#skills">//SKILLS</a></li>
                <li><a href="#work">//PROJECTS</a></li>
                <li><a href="#experience">//EXPERIENCE</a></li>
            </ul>
        </div>

    </nav>
</header>

<body>
    <main>
        <div class="nameWrapper">
            <div id="img"></div>
            <h1 class="heading">Jachmann Tim</h1>
            <h4 class="subHeading">Administrator, Software & Frontend Developer</h4>
        </diV>
        <div id="skills">
            <h2 class="subHeading">My Skills</h2>
        </div>
        <div class="multiContent">
            <div class="miniContainer">
                <img class="iconPng" src="../resources/developent.png">
                <h3>Software <br>Development</h3>
                <div class="skillText">
                    <a>
                        Experienced in both functional and OOP Programming with C#, Python, JavaScript, TypeScript
                    </a>
                </div>

            </div>
            <div class="miniContainer">
                <img class="iconPng" src="../resources/js.png">
                <h3>Frontend <br>Development</h3>
                <div class="skillText">
                    <a>
                        Fascinated by frontend development. Over 4 years of experience with HTML, CSS and JS as well as
                        working with React and NodeJS
                    </a>
                </div>
            </div>
            <div class="miniContainer">
                <img class="iconPng" src="../resources/server.png">
                <h3>Server <br>Administration</h3>
                <div class="skillText">
                    <a>
                        Trained IT specialist. Experience with Linux and Windows Server Automation as well as the
                        configuration of network infrastructure
                    </a>
                </div>
            </div>
        </diV>
        <div>
            <img src="../resources/Code.png" id="code">
        </div>
        <div class="multiContent">
            <div class="miniContainer2">
                <h2 class="subHeading">My Projects</h2>
                <p>I have written and designed most of my projects in C#. Of course I also have the common languages
                    like JS, TS or Powershell in my skillset. Unfortunately, I have not yet found a suitable project
                    where I can put them to the test.</p>
            </div>
            <div class="miniContainer2" id="work">
                <div class="gitRepo">
                    <a href="https://github.com/SexyJackXy/Homunkulus"><img
                            src="https://github-readme-stats.vercel.app/api/pin/?username=SexyJackXy&repo=Homunkulus&theme=graywhite"></a>
                </div>
                <div class="gitRepo">
                    <a href="https://github.com/SexyJackXy/Simulcrum"><img
                            src="https://github-readme-stats.vercel.app/api/pin/?username=SexyJackXy&repo=Simulcrum&theme=graywhite"></a>
                </div>
                <div class="gitRepo">
                    <a href="https://github.com/SexyJackXy/portfolio"><img
                            src="https://github-readme-stats.vercel.app/api/pin/?username=SexyJackXy&repo=portfolio&theme=graywhite"></a>
                </div>
            </div>
        </div>
        <div class="container" id="experience">
            <div id="experience-inner">
                <h2 class="subHeading">Experience</h2>
                <div class="jobs">
                    <div class="tile">
                        <p>Software Developer @ Poolarserver</p>
                    </div>
                    <div class="time">
                        <p>2023 - Present</p>
                        <p id="openInfo" onclick="showMoreInfo(this)">+</p>
                    </div>

                </div>
                <div id="moreInfo">
                    <div class="specificatpion">
                        <img src="../resources/pin.png">
                        <a>Stuttgart, Germany</a>
                        <img src="../resources/link.png">
                        <a href="https://poolarserver.com/">Poolarserver.com</a>
                    </div>
                    <div class="text">
                        <p>Development, design and implementation of an ASP.Net-based website for a construction
                            company</p>
                    </div>
                    <div class="tags">
                        <p class="tag">C#</p>
                        <p class="tag">React</p>
                        <p class="tag">TypeScript</p>
                        <p class="tag">JavaScript</p>
                    </div>
                </div>
                <div class="jobs">
                    <div class="tile">
                        <p>Application Manager @ Fujitsu Technology Solutions</p>
                    </div>
                    <div class="time">
                        <p>2022 - 2023</p>
                        <p id="openInfo" onclick="showMoreInfo(this)">+</p>
                    </div>
                </div>
                <div id="moreInfo">
                    <div class="specificatpion">
                        <img src="../resources/pin.png">
                        <a>Remote (Neckarsulm, Germany)</a>
                        <img src="../resources/link.png">
                        <a href="https://www.fujitsu.com/de/services/">Fujitsu.com</a>
                    </div>
                    <div class="text">
                        <p>Support of customer application on Windows server, creation of automation programs and
                            monitor scripts, working with Robotic Process Automation (RPA)</p>
                    </div>
                    <div class="tags">
                        <p class="tag">M365<p>
                        <p class="tag">Powershell</p>
                        <p class="tag">RPA</p>
                        <p class="tag">Windows Server</p>
                    </div>
                </div>
                <div class="jobs">
                    <div class="tile">
                        <p>Apprenticeship @ Fujitsu TDS</p>
                    </div>
                    <div class="time">
                        <p>2019 - 2022</p>
                        <p id="openInfo" onclick="showMoreInfo(this)">+</p>
                    </div>
                </div>
                <div id="moreInfo">
                    <div class="specificatpion">
                        <img src="../resources/pin.png">
                        <a>Remote (Neckarsulm, Germany)</a>
                        <img src="../resources/link.png">
                        <a href="https://www.fujitsu.com/de/services/">Fujitsu.com</a>
                    </div>
                    <div class="text">
                        <p>Learn the basic functions of servers, programs and automation.</p>
                    </div>
                    <div class="tags">
                        <p class="tag">C#<p>
                        <p class="tag">Powershell</p>
                        <p class="tag">Batch</p>
                        <p class="tag">Bash</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
<footer>
</footer>

</html>
